.container {
  width: 70%;
  margin: 0 auto;
  background: #1a1919;
  padding: 20px;
  margin-top: 50px;
  border-radius: 15px;
}

.titlePage {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}

.navSongs {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  background: #4ce098;
  margin-bottom: 15px;
  padding: 10px 0;
  border-radius: 15px;
}

.navPlaylists {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  background: #a383ed;
  padding: 10px 0;
  border-radius: 15px;
}