.container {
  width: 100%;
  height: 100vh;
}

.body {
  padding: 5px 10px;
}

.header {
  display: flex;
  justify-content: space-between;

  .cancel {
    font-size: 18px;
    font-weight: 400;
  }

  .titlePage {
    font-size: 18px;
    font-weight: 400;
  }

  .ready {
    font-size: 18px;
    font-weight: 400;
    color: orange;
  }
}

.titleExercise {
  width: 100%;
  margin-top: 15px;
  display: flex;

  .logo {
    width: 40px;
    height: 40px;
    color: orange;

    div {
      font-size: 40px;
    }
  }
}

.form * {
  outline: none;
}

.form {

  .formBody {
    position: relative;
    height: 40px;
    width: 40px;
  }

  input {
    height: 70%;
    width: 340px;
    border: none;
    border-bottom: 1px solid #e9dcdc;
    margin-left: 10px;
    position: absolute;
    top: 0;
  }

  button {
    position: absolute;
    width: 23px;
    height: 23px;
    border: none;
    background: #fff;
    left: 325px;
    top: -5px;

    div {
      font-size: 23px;
    }
  }
}

.type {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e9dcdc;
  border-bottom: 1px solid #e9dcdc;
  margin-top: 20px;
  padding: 10px 10px;

  .title {
    font-size: 16px;
    font-weight: 400;
    color: #000;
  }

  .text {
    display: flex;

    .finally {
      margin-right: 10px;
    }

    .icon {
      font-size: 16px;
      font-weight: 400;
      color: gray;
      padding-top: 2px;
    }
  }
}

.pause {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e9dcdc;
  border-bottom: 1px solid #e9dcdc;
  margin-top: 10px;
  padding: 10px 10px;

  .title {
    font-size: 16px;
    font-weight: 400;
    color: #000;
  }

  input {
    width: 70px;
    border: none;
    border-bottom: 1px solid #e9dcdc;
    text-align: center;
  }
}

.listApproach {
  margin-top: 10px;
  padding: 5px 10px;
}

.addApproach {
  margin-top: 10px;
  text-align: center;
  padding: 10px 0;
  border: 1px dashed #e9dcdc;
  border-radius: 5px;
}